.container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: white;
    border-radius: 10px;
}

.submitButton{
    background-color:white;
	margin-top: 0.5rem;
	color: rgba(20, 20, 20, 0.9);
	border: none;
	font-size: 0.5rem;
	font-weight: 600;
	padding: 0.5rem 1.6rem;
	border-radius: 2rem;
	font-family: verdana;
	box-shadow: 0 0.1rem 0.4rem -0.2rem rgba(0,0,0,.8);
	transition: all 0.2s ease-in-out;
}
